*,
::before,
::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#root{
  width: 400px;
  margin: 0 auto;
}
li{
  margin: 5px;
  padding:5px 10px;
  list-style: none;
  border-top:solid 1px rgb(153, 153, 153);
  position: relative;
}
.btn{
  width: 20px;
  height: 20px;
  background: rgb(250, 33, 33);
  border: none;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 10px;
}
.add{
  width: 40%;
  background: rgb(75, 138, 255);
  padding: 10px;
}
input{
  width: 59%;
  padding: 10px;
}